@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");

* {
	box-sizing: border-box;
	color: #111;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

body {
	background-image: radial-gradient(#c9c9c9 1.5px, #e0e0e9 1px);
	background-size: 20px 20px;
	font-family: "Ubuntu", sans-serif;
	/* text-rendering: ; */
}

.app-body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.logo {
	margin: 40px auto;
	font-size: 40px;
	font-weight: 700;
	padding: 15px;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.logo span {
	background-color: #f34d4b;
	padding: 3px 7px;
	border-radius: 10px;
	margin-right: 5px;
	color: white;
}

.search-area {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.search-area form {
	width: 50vw;
	background-color: #f4f4fb;
	border-radius: 20px;
	margin: 0 10px 10px 10px;
	padding: 20px;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	/* font-weight: 400; */
	/* width: 100%; */
}

/* .search-area label {
  font-size: 1rem;
  
} */

.search-area input[type="text"],
.search-area select {
	width: 100%;
	margin: 5px 0 10px 0;
	font-size: 1.1rem;
	/* height: 1.9rem; */
	padding: 5px;
	border-radius: 10px;
	border: none;
}

.search-area input[type="text"]:focus,
.search-area select:focus {
	outline: none;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.search-area input[type="checkbox"] {
	/* height: 30px; */
	margin-bottom: 1rem;
	margin-right: 0.5rem;
}

.search-area button {
	margin: 0 auto;
	display: block;
	padding: 5px 25px;
	color: white;
	font-size: 1.1rem;
	background-color: #f34d4b;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.search-result {
	background-color: #f4f4fb;
	/* margin: 2rem 4rem; */
	/* height: 20px; */
	border-radius: 20px;
	/* padding: 20px; */
	/* max-width: 1200px; */
	max-width: 1200px;
	margin: 20px 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
}

/* single video result div - edit this for transition */
.video-container {
	background-color: white;

	width: 100%;
	/* min-width: 200px; */
	display: flex;
	/* flex-direction: column; */
	/* align-items: center; */

	/* overflow: hidden; */
	padding: 25px;
	/* border-bottom: #d8dee6 2px solid; */

	text-decoration: none;
	border-radius: 15px;
	margin: 0 20px 20px 20px;
}

.video-container:hover {
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.video-info {
	margin-left: 20px;
}

.video-image img {
	border-radius: 10px;
}
/* 
.video-info h3{
	margin: 0;
} 
*/

.watch-area {
	background-color: #ececec;
	max-width: 879px;
	margin: 0 10px;
	padding: 15px;
	border-radius: 20px;
}

.player {
	/* background-color: white; */
	/* margin: auto; */
	/* width: 848.4px; */
	/* height: 477px; */
	text-align: center;
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

iframe {
	border-radius: 15px;
	position: absolute;
	width: 100%;
	/* max-width: 848.4px; */
	height: 100%;
	top: 0;
	left: 0;
	/* width: 848.4px; */
	/* height: 100%;  */
}

.video-stats {
	display: flex;
	/* background-color: red; */
	/* justify-content: space-between; */
}

.video-stats > div:first-child {
	margin-right: auto;
}

.video-stats > div:last-child {
	margin-left: 10px;
}

.error-area {
	background-color: #e42e2e;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.error-box {
	background-color: #f4f4fb;
	height: fit-content;
	border-radius: 20px;
	padding: 10px;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
	margin: 10px;
}

.error-info {
	padding: 10px;
	border-radius: 15px;
	background: url(error-icon.svg) #e42e2e;
	background-repeat: no-repeat;
	background-position: 95%;
	background-size: 45px;
}
.error-info h1,
h6 {
	color: #f4f4fb;
	margin: 3px 0;
}

.error-text {
	background-color: #eaecf4;
	border-radius: 15px;
	padding: 1px 5px 10px 5px;
	margin: 10px 0;
}

.error-text h3 {
	margin: 10px 0;
}

.error-text dd {
	margin-left: 10px;
}

.error-box h4 {
	background-color: #008fff;
	padding: inherit;
	border-radius: 15px;
	text-align: center;
}
.error-box a {
	color: #f4f4fb;
	
}

.error-redirect{
	background-color: #82b646;
	color: #f4f4fb;
	border-radius: 15px;
	padding: 10px;
	margin-bottom: 10px;
	text-align: center;
}


@media screen and (max-width: 768px) {
	.logo {
		margin: 20px auto;
		font-size: 30px;
	}

	.search-area form {
		width: 80vw;
		margin: 0;
	}
	.search-result {
		justify-content: space-around;
		padding: 0px;
		padding-right: 10px;
	}
	.video-container {
		width: 47.9%;
		flex-direction: column;
		margin: 10px 0 10px 10px;
		/* padding: ; */
		padding: 10px;
		box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	}
	.video-image img {
		width: 100%;
	}
	.video-info {
		margin: 0;
	}
}

@media screen and (max-width: 530px) {
	.video-container {
		width: 100%;
		margin-bottom: 10px;
	}
}

.dots div {
    height: 50px;
	width: 5px;
    background-color:#F34D4B;
    border-radius: 50%;
    position: absolute;
    animation: rotate360 1.2s ease-in-out infinite;
    animation-delay: calc(70ms * var(--d));
}

@keyframes rotate360 {
    0%{
        /* width: 5px; */
        opacity: 0.5;
    }
    50%{
        /* width: 15px; */
        opacity: 1;
    }
    100%{
        transform: rotate(360deg);
        
    }

}
