@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");

* {
	box-sizing: border-box;
	text-decoration: none;
	margin: 0;
	padding: 0;
	color: var(--text);
}

body.light-mode {
	--bg-color: #f4f4fb;
	--bg-color-alt: white;
	--text: #202124;
	--text-alt: white;
	--label: #dfdfec;
	--error-svg: url(icons/error-icon-light.svg);
}

body.dark-mode {
	--bg-color: #303134;
	--bg-color-alt: #202124;
	--text: #f4f4fb;
	--text-alt: #202124;
	--label: #202124;
	--error-svg: url(icons/error-icon-dark.svg);
}

body {
	--logo: #6495ed;
	background-image: radial-gradient(var(--logo) 0.1px, var(--label) 1.5px);
	background-size: 20px 20px;
	font-family: "Ubuntu", sans-serif;
}

.app-body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.logo {
	margin: 30px auto;
	font-size: 40px;
	font-weight: 700;
	padding: 15px;
	background-color: var(--bg-color);
	border-radius: 20px;
	border-bottom: 4px solid var(--logo);
}

.logo a {
	color: var(--text);
}

.logo span {
	background-color: var(--logo);
	padding: 1px 7px 3px;
	border-radius: 10px;
	margin-right: 5px;
	color: var(--bg-color);
}

.search-area {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.search-area form {
	width: 50vw;
	background-color: var(--bg-color);
	border-radius: 20px;
	margin: 0 10px 10px;
	padding: 20px;
	border-bottom: 4px solid var(--logo);
}

.fa-icon {
	margin-right: 5px;
}

.fa-icon > path {
	color: var(--logo);
}

form label p,
.watch-area .description span {
	font-size: 1.1rem;
	background-color: var(--label);
	width: fit-content;
	padding: 5px;
	border-radius: 10px;
}

.search-area input[type="text"],
.search-area select {
	width: 100%;
	margin: 6px 0 20px;
	font-size: 1.1rem;
	padding: 6px 5px 4px 10px;
	border-radius: 10px;
	border: none;
	border-bottom: 2px solid transparent;
	background-color: var(--bg-color-alt);
}

.search-area input[type="text"],
.search-area input[type="text"]::placeholder {
	color: #a4a5bd;
}

.search-area input[type="text"]:hover,
.search-area input[type="text"]:focus,
.search-area select:focus {
	outline: none;
	border-bottom: 2px solid var(--logo);
	color: var(--text);
}

/* custom toggles */
#advanced-search-toggle,
#dark-mode-toggle {
	display: none;
}

#advanced-search-toggle + label {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.advanced-search-checkbox {
	width: 25px;
	height: 25px;
	background-color: var(--bg-color-alt);
	margin-right: 5px;
	border-radius: 50%;
	border: 2px solid var(--logo);
}

#advanced-search-toggle:checked + label .advanced-search-checkbox {
	position: relative;
	background-color: var(--logo);
}

#advanced-search-toggle:checked + label .advanced-search-checkbox::after {
	content: "\2713";
	position: absolute;
	top: -1.2px;
	color: var(--bg-color-alt);
	left: 4px;
	font-weight: 700;
}

.dark-mode-container {
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 20px;
	z-index: 5;
}

.dark-mode-container .button {
	cursor: pointer;
	padding: 10px;
	position: relative;
	background-color: var(--text);
	border-radius: 50%;
	border-bottom: 2px solid var(--logo);
	display: flex;
}

.dark-mode-container .button .dark-fa-icon {
	margin: auto;
	font-size: 20px;
}

#dark-mode-toggle:checked + label .button .dark-fa-icon > path {
	color: var(--logo);
}

.search-area button {
	margin: 0 auto;
	display: block;
	padding: 5px 25px;
	color: var(--text-alt);
	font-size: 1.1rem;
	background-color: var(--logo);
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.search-result {
	background-color: var(--bg-color);
	border-radius: 20px;
	max-width: 1200px;
	margin: 20px 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
}

/* single video result div - edit this for transition */
.video-snippet-container {
	background-color: var(--bg-color-alt);
	width: 100%;
	display: flex;
	padding: 25px;
	text-decoration: none;
	border-radius: 15px;
	margin: 0 20px 20px;
	border-bottom: 4px solid transparent;
}

.video-snippet-container:hover {
	border-bottom: 4px solid var(--logo);
}

.video-snippet-info {
	margin-left: 20px;
	width: 100%;
}

.video-snippet-info > * {
	margin: 15px 0;
}

.video-snippet-title,
.watch-area .title {
	margin: 0;
	padding: 10px;
	background-color: var(--logo);
	border-radius: 10px;
	display: flex;
	color: var(--text-alt);
}

.video-snippet-title .fa-icon > path,
.video-snippet-title h3,
.watch-area .title .fa-icon > path,
.dark-mode-container .button .dark-fa-icon > path {
	color: var(--text-alt);
}

.video-snippet-title .fa-icon,
.watch-area .title .fa-icon {
	font-size: 23px;
}

.video-snippet-image img {
	border-radius: 10px;
}

.video-snippet-stats {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.watch-area > *:not(.player, .description) {
	margin: 10px 0;
}

.watch-area {
	background-color: var(--bg-color);
	max-width: 879px;
	width: 95vw;
	padding: 15px;
	border-radius: 20px;
	margin-bottom: 20px;
	border-bottom: 4px solid var(--logo);
}

.watch-area .player {
	text-align: center;
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

.watch-area iframe {
	border-radius: 15px;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.watch-area .description {
	white-space: pre-wrap;
	word-break: break-word;
	background-color: var(--bg-color-alt);
	padding: 0 10px 10px;
	border-radius: 10px;
	font-size: 15px;
}

.watch-area .description span {
	line-height: 2.5;
}

body.dark-mode .watch-area .description span {
	background-color: #303134;
}

.watch-area .description p {
	line-height: 1.4;
}

.watch-area .description p a:link,
:visited {
	color: var(--logo);
}

.watch-area .video-stats {
	display: flex;
	flex-wrap: wrap;
	margin: 15px 0;
}

.watch-area .video-stats .fa-icon {
	font-size: 15px;
}

.watch-area .video-stats > *:first-child {
	margin-right: auto;
	margin-left: 13px;
}

.watch-area .video-stats > *:nth-child(2) {
	display: flex;
	justify-content: space-around;
}

.watch-area .video-stats > *:nth-child(2) > * {
	margin-left: 20px;
}

.error-area {
	background-color: #f04144;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

.error-box {
	background-color: var(--bg-color-alt);
	height: fit-content;
	border-radius: 20px;
	padding: 10px;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
	margin: 10px;
}

.error-info {
	padding: 10px;
	border-radius: 15px;
	background: var(--error-svg) #f04144;
	background-repeat: no-repeat;
	background-position: 95%;
	background-size: 45px;
}

.error-info h1,
.error-info h6 {
	color: var(--text-alt);
	margin: 3px 0;
}

.error-text {
	background-color: var(--bg-color);
	border-radius: 15px;
	padding: 1px 5px 10px 10px;
	margin: 10px 0;
}

.error-text h3 {
	margin: 10px 0;
}

.error-text dd {
	margin-left: 10px;
}

.error-box h4 {
	background-color: #4a8cee;
	padding: inherit;
	border-radius: 15px;
	text-align: center;
}

.error-box a {
	color: var(--text-alt);
}

.error-redirect {
	background-color: #82b646;
	color: var(--text-alt);
	border-radius: 15px;
	padding: 10px;
	margin-bottom: 10px;
	text-align: center;
}

/* spin loader */
.dots div {
	height: 50px;
	width: 5px;
	background-color: var(--logo);
	border-radius: 50%;
	position: absolute;
	animation: rotate360 1.2s ease-in-out infinite;
	animation-delay: calc(70ms * var(--d));
}

@keyframes rotate360 {
	0% {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: rotate(360deg);
	}
}

/* media queries */
@media screen and (max-width: 768px) {
	.dark-mode-container {
		margin: 15px;
	}
	.logo {
		margin: 15px auto;
		font-size: 30px;
	}
	.search-area form {
		width: 80vw;
		margin: 0;
	}
	.search-result {
		justify-content: space-around;
		padding: 0;
		padding-right: 10px;
	}
	.video-snippet-container {
		width: 47.9%;
		flex-direction: column;
		margin: 10px 0 10px 10px;
		padding: 10px;
		border-bottom: 4px solid var(--logo);
	}
	.video-snippet-image img {
		width: 100%;
	}
	.video-snippet-info {
		margin: 0;
	}
	.video-snippet-info > *:first-child {
		margin-top: 5px;
	}
	.watch-area .video-stats > *:nth-child(2) > h5 {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 15px;
	}
	.watch-area .video-stats > *:nth-child(2) > h5 .fa-icon {
		margin-bottom: 5px;
	}
}

@media screen and (max-width: 530px) {
	.video-snippet-container {
		width: 100%;
		margin-bottom: 10px;
	}
	.watch-area {
		padding: 10px;
	}
	.watch-area .video-stats > *:nth-child(2) {
		margin: 13px 0 3px;
		width: 100%;
		justify-content: space-evenly;
	}
}
